.hero-image{
  
  height: 60vh;
  /* always scale the image to the appropriate size of your screen */
  background-size: cover;
  background-image: url(https://images6.alphacoders.com/110/1106343.jpg);
  background-position: center;
  /* keeps the image fixed while scrolling , neat effect. */
  background-attachment: fixed; 
}
.hero-image-2{
  
  height: 64vh;
  /* always scale the image to the appropriate size of your screen */
  background-size: cover;
  background-image: url(https://images6.alphacoders.com/110/1106343.jpg);
  background-position: center;
  /* keeps the image fixed while scrolling , neat effect. */
  background-attachment: fixed; 
}
.hero-image-3{

  height: 90vh;
  /* always scale the image to the appropriate size of your screen */
  background-size: cover;
  background-image: url(https://images6.alphacoders.com/110/1106343.jpg);
  background-position: center;
  /* keeps the image fixed while scrolling , neat effect. */
  background-attachment: fixed; 
}

 .glow{
   background-color: rgb(255, 115, 115) ;
   transition: ease-in-out .3s;
   box-shadow:0 0 30px red;
 }
.over-spill{
  position: absolute;
  top: 80px;
  left: 625px;
}

.fs-custom{
  font-size: 60px;
}


@media screen AND (max-height:768px) {
  .mobile-hide{
    display: none;
  }
}